.insight-project-carousel {
    > div {
        padding-bottom: 30px !important;
    }

    .insight-project-carousel-item {
        outline: none;
        @include transit();

        .insight-project-carousel-item-inner {
            display: block;
            width: 100%;
            background-color: #696969;
            transform: scale(.5);
            @include transit();

        }

        .info {
            text-align: center;
            margin-top: 50px;
            opacity: 0;
            @include transit();

            .title a {
                font-size: 18px;
                line-height: 36px;
                font-weight: 400;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 0.2em;

                &:hover {
                    color: $color__primary;
                }

            }

            .category {
                font-size: 14px;
                color: #696969;
                line-height: 36px;
                font-style: italic;

                a {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }

        &.slick-slide {
            width: 840px;

            img {
                width: 100%;
                opacity: .5;
            }

            &.slick-center {
                .info {
                    opacity: 1;
                }

                .insight-project-carousel-item-inner {
                    transform: scale(1);
                    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .slick-dots {
        margin-bottom: 0;

        li {
            margin: 0;

            button {
                &:before {
                    font-size: 8px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .insight-project-carousel {
        > div {
            padding-bottom: 0px !important;
        }

        .insight-project-carousel-item {
            .insight-project-carousel-item-inner {
                transform: scale(1);
                -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

                img {
                    opacity: 1 !important;
                }
            }
        }
    }
}
