.insight-project-comment {
    #comments {
        margin-top: 0;

        .comment-respond {
            margin-top: 0;
        }

        #reply-title {
            font-family: $font__third;
        }
    }
}