.insight-project-justified {
    display: block;
    width: 100%;

    .insight-project-justified-items {
        .insight-project-justified-item {
            .item-inner {
                position: relative;

                .thumb {
                    overflow: hidden;
                    z-index: 6;

                    img {
                        width: 100%;
                        height: auto;
                        @include transit();
                    }
                }

                .title {
                    position: absolute;
                    display: block;
                    text-align: center;
                    top: 60%;
                    left: 0;
                    width: 100%;
                    transform: translateY(-50%);
                    opacity: 0;
                    z-index: 8;
                    @include transit();

                    a {
                        font-family: $font__second;
                        font-size: 24px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #fff;

                        &:before {
                            content: '\f488';
                            font-family: Ionicons;
                            display: block;
                            font-size: 40px;
                        }
                    }
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    background-color: $color__primary;
                    width: calc(100% - 60px);
                    height: calc(100% - 60px);
                    opacity: 0;
                    z-index: 7;
                    @include transit();
                }
            }

            &:hover {
                .item-inner {
                    .thumb {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    .title {
                        top: 50%;
                        opacity: 1;
                    }

                    &:before {
                        opacity: .9;
                    }
                }
            }
        }
    }
}