[class*='insight-dot'] {
    cursor: pointer;
}

.insight-dot {
    &-style01 {
        font-size: 18px !important;

        &:after {
            @include transit();
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background-color: $color__primary;
            right: -100px;
            top: 50%;
            position: absolute;
        }

        &.active {
            font-size: 34px !important;
            color: #333 !important;

            &:after {
                width: 80px;
            }
        }

        &:hover {
            color: #333 !important;
        }
    }
}

@include media-breakpoint-up(sm) {
    .relative-visible {
        position: relative !important;
        overflow: visible !important;

        .vc_column_container {
            position: static;
        }
    }

    .static-visible {
        position: static !important;
        overflow: visible !important;
    }
}

[class*='absolute-object'] {
    position: absolute !important;
    z-index: 2;
}

@include media-breakpoint-down(sm) {
    html .reset-mrg-top-sm {
        &, .vc_column-inner {
            margin-top: 0 !important;
        }
    }
}

.absolute-object1 {
    right: 0;
}

.absolute-object2 {
    right: 0;
    top: -350px;
}

.absolute-object3 {
    left: 0;
    top: -200px;
}

.absolute-object4 {
    right: 0;
    top: -300px;
}

.absolute-object5 {
    left: 0;
    bottom: -150px;
}

.absolute-object6 {
    right: 0;
    bottom: -50px;
}

.absolute-object7 {
    left: 0;
    bottom: -150px;
}

.absolute-object8 {
    right: 0;
    bottom: -150px;
}

.absolute-object9 {
    left: 0;
    bottom: 100px;
}

.opacity1 {
    &, & * {
        opacity: 1 !important;
    }
}

@include media-breakpoint-down(md) {
    [class*='absolute-object'] {
        max-width: 100px;
        top: -100px;
    }
}

@include media-breakpoint-down(sm) {
    [class*='absolute-object'] {
        display: none !important;
    }
}

@include media-breakpoint-up(md) {
    .rm-maxwidth {
        float: right;

        &, * {
            max-width: none !important;
        }
    }
}

.special-link, .special-link-1 {
    padding: 5px 0;
    position: relative;

    &:after {
        height: 1px;
        display: block;
        content: '';
        background-color: #fff;
        position: absolute;
        right: 0;
        left: 55px;
        bottom: 8px;
    }

    &:before {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 36px;
        border: 2px solid #fff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        content: '\f30f';
        font-family: Ionicons;
        display: inline-block;
        margin-right: 15px;
    }
}

.special-link-2 {
    padding: 5px 0;
    position: relative;

    &:after {
        height: 1px;
        display: block;
        content: '';
        background-color: #fff;
        position: absolute;
        right: 0;
        left: 55px;
        bottom: 8px;
    }

    &:before {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background-color: $color__primary;
        color: #fff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        content: '\f30f';
        font-family: Ionicons;
        display: inline-block;
        margin-right: 15px;
    }
}

.special-link-3 {
    padding: 5px 0;
    position: relative;

    &:after {
        height: 1px;
        display: block;
        content: '';
        background-color: #696969;
        position: absolute;
        right: 0;
        left: 55px;
        bottom: 8px;
    }

    &:before {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 36px;
        background-color: transparent;
        color: $color__primary;
        border: 2px solid #e0e0e0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        content: '\f30f';
        font-family: Ionicons;
        display: inline-block;
        margin-right: 15px;
    }
}

.white-color {
    color: #fff !important;
}
