.header-overlay {
    .header:not(.headroom--not-top), &.header:not(.headroom--not-top) {
        background-color: transparent;
        position: absolute;

        nav {
            > ul {
                > li {
                    > a {
                        color: #fff !important;
                    }
                }
            }
        }

        .header-right {
            .header-search {
                /* header 01 */
                form {
                    &:after {
                        color: #fff;
                    }
                }
            }

            .open-search {
                /* header 02 */
                color: #fff;
            }
        }
    }
}
