.mobile-menu, #mobile {
    .admin-bar & {
        padding-top: 32px;
        @include media-breakpoint-down(md) {
            padding-top: 46px;
        }
    }

    .mega-menu-content {
        .vc_row, .vc_column-inner, .wpb_column {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
            @media (max-width: 63.9em) {
                .tm-organie & {
                    padding: 0 !important;
                }
            }

            .vc_custom_heading {
                margin: 0 !important;
                padding: 20px 20px 0;
                font-weight: 900 !important;
            }
        }
    }

    > ul.menu, > ul.menu__container {
        padding: 0;
        margin: 0;

        ul, ol {
            padding: 0;
            margin: 0;
        }

        li {
            position: relative;
            display: block;
            border-bottom: 1px solid #eee;

            &.current_page_item, &.current-menu-item {
                a {
                    box-shadow: 1px 0px 0 #111 inset;
                }
            }

            a {
                display: block;
                color: $color__gray;
                padding: 0px 20px;
                line-height: 42px;
                background: inherit;

                i {
                    width: 20px;
                }

                &:hover {
                    color: $color__primary;
                }
            }

            .sub-menu {
                display: none;
                border-top: 1px solid #ddd;
                background-color: #eee;
                padding-left: 0;
                font-weight: 400;
                box-shadow: none;
                -moz-box-shadow: none;

                li {
                    a {
                        &:hover {
                            color: $color__primary;
                        }
                    }

                    @include media-breakpoint-up(sm) {
                        &:last-child {
                            border: none;
                        }
                    }
                    border: none;
                }

                h3 {
                    border: none !important;
                }
            }

            .sub-menu-toggle {
                display: none;
            }

            &.menu-item.menu-item-has-children > .sub-menu-toggle {
                display: block;
                background-color: rgba(238, 238, 238, 0.5);
                font-size: 15px;
                font-family: Ionicons;
                position: absolute;
                color: #696969;
                right: 0;
                top: 0;
                padding: 0px 20px;
                line-height: 43px;
                z-index: 9999;
                font-style: normal;
                outline: 0;
                cursor: pointer;
                @include transit();

                &:before {
                    content: '\f3d0';
                }

                &:hover {
                    color: #fff;
                    background-color: $color__primary;
                }
            }

            &.expand {
                background-color: #ddd;

                > .sub-menu-toggle:before {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.mobile-menu, #mobile {
    @include transit();
    position: fixed;
    width: 256px;
    left: -256px;
    top: 0;
    bottom: 0;
    z-index: 1001;
    background: #fff;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.vimenu-open-left {
    overflow: hidden;

    #mobile {
        left: 0;
    }

    #close-menu {
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.5;
        z-index: 1000;
    }
}
