$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__secondary;
$color__background-pre: #eeeeee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666666;
$color__text-input-focus: #111111;
$color__link: $color__secondary;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border: $color__secondary;
$color__border-button: $color__secondary;
$color__border-button-hover: $color__primary;
$color__border-button-focus: $color__primary;
$color__border-input: #f1eeea;
$color__border-abbr: #666666;

$color__new: #FFC929;
$color__hot: #D0021B;
$color__sale: #6AC39B;

$color__gray: #696969;
$color__gray-dark: #333333;
$color__gray-light: #f4f4f4;
